<body style="background-color: #212121">
<img src="" alt="">
<div style="display: block; width: 90%; margin: auto; background-color: white; color: #333333; padding: 15px; border-radius: 6px 6px 0 0">
    {#  TODO Change template with design system and change route to webapp. #}
    <h1>HelloWorld</h1> <br>
    Hello {{ username }}!<br>
    <p>Vous avez demandé de changer de mot de passe sur <a href="https://www.hello-world.ovh" target="_blank">hello-world</a>,
        cliquez sur le lien suivant pour procéder au changement de mot de passe : </p>
    <div style="display: flex; justify-content: center; align-content: center; width: 100%">
        <a href="http://www.dev.hello-world.ovh:3000/newPassword/{{ token }}" target="_blank">
            <button style="
                background-color: #f8d270;
                color: #243134;
                height: 28px;
                line-height: 1;
                font-weight: 600;
                padding: 1px 1rem;
                border-radius: 0.25rem;
                border: 1px solid #f8d270;
                ">Créer un nouveau mot de passe
            </button>
        </a>
    </div>
</div>
</body>
